.feedPhoto {
  @include boxBorder(yes);
  width: 100%;
  max-width: $max-card-width;
  margin-top: 60px;
  &:last-child {
    margin-bottom: 0;
  }
  .titleSection {
    display: flex;
    align-items: center;
    margin: 0 3px;
    height: 60px;
    .column {
      margin-left: 10px;
      img {
        width: 35px;
        height: 35px;
        border-radius: 35px;
      }
    }
  }
  .thumbnail {
    img {
      height: 615px;
      width: 100%;
    }
  }
  .buttonSection {
    display: flex;
    align-items: center;
    margin: 7px 0;
    .column {
      margin-left: 15px;
      height: 40px;
      .button {
          cursor: pointer;
          width: 32px;
          height: 32px;
      }
    }
  }
  .bottomSection {
    margin-left: 15px;
    .statusbar {
      height: 25px;
    }
    .textContent {
      height: 25px;
      .id {
        font-weight: 500;
        margin-right: 7px;
      }
    }
  }
}
