.commentBox {
    border-top: 1px solid $border-color;
    padding: 15px 0;
    @include breakpoint('phone'){
        display: none;
    }
    .input {
        border: 0;
        resize: none;
        height: 20px;
        width: 100%;
        font-size: $normal-font-size;
        &:focus {
            outline: none;
        }
        &::placeholder {
            color: $dark-gray;
        }
    }
}